body {
    background: #0056b3;
}
h5{
    font-size: 10px;
    font-weight: bold;
    text-align: center;

}
* {
    font-size: 10px !important;
}
.titulo-principal{
    color: #FFFFFF;
}
.titulo-principal-info{
    color: #FFFFFF;
    padding-top: 10px;
}
/* boton para cancelar los archivos */
.btn-cancelar {
    width: 80px; /* Ajusta el ancho según tus necesidades */
    margin-top: 5px; /* Añade espacio en la parte superior */
    padding: 2px 2px; /* Ajusta el padding para reducir la altura */
    line-height: 1; /* Asegura que el texto esté centrado verticalmente */
    display: block; /* Asegura que el margen funcione correctamente */
    font-size: 0.875rem; /* Ajusta el tamaño de la fuente si es necesario */
    font-weight: bold; /* en negrita */
}

/* Estilos para los botones en fixed-buttons */
.fixed-buttons {
    display: flex;
    justify-content: space-between; /* Distribuye los botones uniformemente */   
    gap: 20px; /* Espacio entre los botones */
    margin-top: 0px; /* Espacio superior */
}

.fixed-buttons button {
    flex: 1; /* Cada botón ocupa el mismo espacio */
    padding: 3px; /* Padding uniforme */
    font-size: 10px !important; /* Tamaño de fuente consistente */
    text-align: center; /* Centra el texto */
    padding: 3px; /* definir la altura */
    font-weight: bold; /* en negrita */
    background-color: #FFD700; /* Color de fondo azul por defecto */
    color: #000000; /* Color del texto blanco */
    border: none; /* Elimina el borde por defecto */
    transition: background-color 0.3s ease; /* Suaviza la transición del color */
}

.fixed-buttons button:hover {
    background-color: #000000 ; /* Color amarillo al pasar el mouse */
    color: #ffffff; /* Mantiene el color del texto blanco */
    font-weight: bold; /* en negrita */
}

/* contenido de informacion del cliente  */
.form-container.border.p-3.mb-3.active {
    background-color: #003366; /* Color de fondo gris claro */
    color: #FFFFFF;
}

/* Estilo para el div después de REGISRTO DE ETAPA PRE-JUDICIAL Y JUDICIAL */
.col-md-12.border.p-3 {
    background-color: #003366; /* Color de fondo azul claro */
    color: #FFFFFF;
}
